<div class="container">
    <div class="row">
        <div class="col bg-primary p-2 text-white text-center">
            Yönetici Paneli
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-3">
            <button routerLink="/shop" class="btn btn-outline-info btn-block">Anasayfa</button>

            <button routerLinkActive="active" routerLink="/admin/main/products" class="btn btn-outline-info btn-block">Ürünler</button>
            <button routerLinkActive="active" routerLink="/admin/main/categories" class="btn btn-outline-info btn-block">Kategoriler</button>
            <button routerLinkActive="active" routerLink="/admin/main/orders" class="btn btn-outline-info btn-block">Siparişler</button>

            <button (click)="logout()" class="btn btn-outline-danger btn-block">Çıkış</button>
        </div>
        <div class="col-9">
            <router-outlet></router-outlet>                        
        </div>
    </div>
</div>