<div class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a href="" class="navbar-brand">Mağaza Uygulaması</a>
    <ul class="navbar-nav mr-auto">
      <li class="navbar-nav">
        <a routerLink="/shop" class="nav-link active">Anasayfa</a>
      </li>
      <li class="navbar-nav">
        <a routerLink="/cart" class="nav-link">Sepet</a>
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link">Siparişler</a>
      </li>
      <li class="navbar-nav">
        <a routerLink="/admin/main" class="nav-link">Yönetici Paneli</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="navbar-nav">
        <a href="" class="nav-link" *ngIf="!isAuthenticated()">Giriş</a>
        <!-- TODO: login page for customers -->
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link" *ngIf="!isAuthenticated()">Kayıt</a>
        <!-- TODO: register page for customers -->
      </li>
      <li class="navbar-nav">
        <a href="" class="nav-link" *ngIf="isAuthenticated()">Çıkış</a>
      </li>
    </ul>
  </div>
</div>